.env
.env.*
!.env.example
!.env.production.example
vendor
node_modules
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
.phpunit.result.cache
tests
